body {
    margin: 0;
    padding: 0;
}

/* Container izquierdo de sign in */
.container-left {
    float: left;
    background-color: #6156db;
    height: 480px;
    width: 400px;
    margin: 100px 0 0 280px;
    padding: 10px;
}

.container-left h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    color: white;
}

.container-left p {
    margin-top:45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.container-left button {
    margin-left: 90px;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #782AE8;
    border-radius: 20px;
    border: solid 2px white;
    padding: 10px;
    width: 200px;
}




.container-right {
    background-color: #A577E8;
    height: 480px;
    width: 400px;
    float: right;
    margin: 100px 280px 0 0;
    padding: 10px;
}

.container-right h1 {
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-right img {
    margin: 15px 5px 0 0;
}

.container-right p {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

.container-right input{
    margin-top: 8px;
}

.container-right button {
    margin-left: 95px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #E82AD1;
    border-radius: 20px;
    border: solid 2px white;
    padding: 10px;
    width: 200px;
}


/* Estilos Singup */

.container-right2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px 280px 0 0;
    float: right;
    background-color: #2A57E8;
    height: 480px;
    width: 400px;
    padding: 10px;
}

.container-right2 h1 {
    font-size: 30px;
    text-align: center;
    margin: 70px 0 50px;
    color: white;
}

.group{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.group label {
    color: white;
}

.group input {
    width: 65%;
    height: 25px;
    border-radius: 50px;
    margin-top: 5px;
    color: black;
    border: none;
}


.btn-custom {
    margin-top: 25px;
    margin-left: 130px;
    background-color: #782AE8;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
