body {
    margin: 0;
    padding: 0;
}


.container-left {
    float: left;
    background-color: #6156db;
    width: 400px;
    height: 400px;
    margin: 100px 0 0 100px;
    padding: 10px;
}

.container-left h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    color: white;
}

.container-left p {
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.container-left button {
    margin-left: 160px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #6156db;
    border-radius: 20px;
    border: solid 2px white;
    padding: 10px;
}






